.idea
fast-colorthief
__pycache__
chromedriver.exe
ColorThief.PNG
geckodriver.log
get_next_link.py
list.txt
main2.py
main1.py
out.csv
rough_notes
test.py
test_imgur.py
test_token.py
app.py
Launchpad_Software_Task_Demo_Video
WireFrame.png
Paid_Arnab.PNG
ColorThief.PNG
Software_Technical_Tests.docx
list.txt
SOFTWARE_TASK_NOTES.txt
Software_task_bkup.txt
Software_task_bkup2.txt
Software_task_bkup3.txt
Software_task_bkup4.txt
